In [12]:
import pandas as pd
df1 = pd.read_csv(r"C:\Users\ThomasChow\OneDrive - URBANCHAIN LTD\Documents\Data Cleaning\file.csv")
df2 = pd.read_excel(r"C:\Users\ThomasChow\OneDrive - URBANCHAIN LTD\Documents\volume_final.xlsx", sheet_name = 'volume')
df2.head()

,Time,BIOMASS,CCGT,COAL,INTELEC,INTEW,INTFR,INTGRNL,INTIFA2,INTIRL,...,INTNSL,INTVKL,NPSHYD,NUCLEAR,OCGT,OIL,OTHER,PS,WIND,Day-ahead price
0,2022-06-01T00:00:00Z,2648,18976,0,-432,0,-566,0,-958,-36,...,694,0,370,5142,1,0,320,-10,2481,131.0
1,2022-06-01T00:30:00Z,2647,19465,0,-202,0,-544,0,-550,-134,...,694,0,500,5141,2,0,373,40,2094,131.5
2,2022-06-01T01:00:00Z,2649,19428,0,-190,0,-542,0,-528,-126,...,694,0,615,5143,1,0,600,288,2010,131.2
3,2022-06-01T01:30:00Z,2648,19149,0,-430,0,-788,0,-954,-20,...,694,0,680,5143,1,0,632,1028,1858,127.5
4,2022-06-01T02:00:00Z,2648,19098,0,-442,0,-792,0,-978,14,...,694,0,681,5143,1,0,622,1116,2132,129.7

In [13]:
diff = set(df2.Time) - set(df1.StartTime)

In [14]:
import requests
import pandas as pd
import csv
from datetime import date, timedelta

settlement = {
    '23:00:00': '1',
    '23:30:00': '2',
    '00:00:00': '3',
    '00:30:00': '4',
    '01:00:00': '5',
    '01:30:00': '6',
    '02:00:00': '7',
    '02:30:00': '8',
    '03:00:00': '9',
    '03:30:00': '10',
    '04:00:00': '11',
    '04:30:00': '12',
    '05:00:00': '13',
    '05:30:00': '14',
    '06:00:00': '15',
    '06:30:00': '16',
    '07:00:00': '17',
    '07:30:00': '18',
    '08:00:00': '19',
    '08:30:00': '20',
    '09:00:00': '21',
    '09:30:00': '22',
    '10:00:00': '23',
    '10:30:00': '24',
    '11:00:00': '25',
    '11:30:00': '26',
    '12:00:00': '27',
    '12:30:00': '28',
    '13:00:00': '29',
    '13:30:00': '30',
    '14:00:00': '31',
    '14:30:00': '32',
    '15:00:00': '33',
    '15:30:00': '34',
    '16:00:00': '35',
    '16:30:00': '36',
    '17:00:00': '37',
    '17:30:00': '38',
    '18:00:00': '39',
    '18:30:00': '40',
    '19:00:00': '41',
    '19:30:00': '42',
    '20:00:00': '43',
    '20:30:00': '44',
    '21:00:00': '45',
    '21:30:00': '46',
    '22:00:00': '47',
    '22:30:00': '48'
}


for d in diff:
    da = d[:10]
    period = settlement[str(d[11:-1])]
    url = f'https://data.elexon.co.uk/bmrs/api/v1/generation/actual/per-type/wind-and-solar?from={da}&to={da}&settlementPeriodFrom={period}&settlementPeriodTo={period}&format=csv'
    data = requests.get(url).text


    with open('file.csv', 'a', newline = '') as f:
        f.write(data)

In [3]:
# Solar volume
import requests
import pandas as pd
import csv
from datetime import date, timedelta

def foo(name, **kwds):
    return 'name' in kwds

sdate = date(2022,5,31)
edate = date(2024,11,14)

dates = pd.date_range(sdate,edate,freq='d')

for i in range(0, len(dates) -7 , 7):

    start_year, start_month, start_date = dates[i].year, str(dates[i].month).zfill(2), str(dates[i].day).zfill(2)
    end_year, end_month, end_date = dates[i + 7].year, str(dates[i + 7].month).zfill(2), str(dates[i + 7].day).zfill(2)

    url = f'https://data.elexon.co.uk/bmrs/api/v1/generation/actual/per-type/wind-and-solar?from={start_year}-{start_month}-{start_date}&to={end_year}-{end_month}-{end_date}&settlementPeriodFrom=3&settlementPeriodTo=2&format=csv'


    data = requests.get(url).text


    with open('file.csv', 'a', newline = '') as f:
        f.write(data)